* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ant-collapse-item {
  background-color: white;
}

.ant-card {
  border: unset;
  border-bottom: 1px solid #f0f0f0;
}

.mcq .mcq-answer {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-right: 120px;
}

.mcq .mcq-answer p {
  z-index: 1000;
}

.mcq .circle {
  position: relative;
  height: 1em;
  width: 1em;
  margin-left: 1em;
  flex: 0 0 auto;
  border-radius: 50%;
  border: 0.3em solid #666677;
  background-color: transparent;
}

.mcq .mcq-answer p {
  display: block;
  margin: 1em;
  z-index: 10;
}

.mcq .feedback {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #a94442;
  color: white;
  min-height: 100%;
  max-width: 88.6%;
  padding: 1em 1em 1em 2em;
  z-index: 100;
  opacity: 1;
  visibility: hidden;
}

.mcq .correct .feedback {
  background-color: #3c763d;
}

.mcq input {
  display: none;
}

.mcq .highlight {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mcq input:hover ~ .highlight {
  background-color: #ccc;
}

.mcq input:checked ~ .highlight {
  background-color: #c2cdd6;
}

.mcq .correct input:checked ~ .highlight {
  background-color: #dff0d8;
}

.mcq .incorrect input:checked ~ .highlight {
  background-color: #f2dede;
}

.mcq input:checked ~ .circle {
  background-color: #ebccd1;
  border-color: #a94442;
}

.mcq .correct input:checked ~ .circle {
  background-color: #d6e9c6;
  border-color: #3c763d;
}

.mcq input:checked ~ .feedback {
  visibility: visible;
  -webkit-animation: feedbackfade 3s ease 3s;
  animation: feedbackfade 3s ease 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.fc-popover-body {
  overflow-y: scroll;
  max-height: 200px;
}

.ant-switch-checked {
  background-color: #67a6ff !important;
}
/* .anticon svg {
  display: none;
} */
